@model List<SliderVMVC>

<div class="owl-carousel owl-theme main-slider">


    @foreach (var item in Model)
    {
        <div class="item first-item">
            <img src="~/assets/images/@item.Image">
            <div class="container elements">
                <h1> @item.Title</h1>
                <p class="">
                    @Html.Raw(item.Title)
                </p>
                <a class="read-more" href=" ">READ MORE</a>
                <a class="get-started" href=" ">GET STARTED NOW</a>
            </div>
        </div>
    }
  
   
</div>