<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>

    <header>
        <div class="apply">
            <div class="container">
                <div class="intro">
                    <div class="d-flex ml-3 welcome-head">
                        <i class="fas fa-university iconuni"></i>
                        <p class="element-p">Welcome to Edulearn</p>
                    </div>
                    <div class="d-flex icons-head">
                        <div class="icons">
                            <i class="fab fa-facebook-f fb"></i>
                            <i class="fab fa-twitter tw"></i>
                            <i class="fab fa-google-plus-g gg"></i>
                            <i class="fab fa-linkedin-in link"></i>
                        </div>
                        <a class="ml-5" href="">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="edulearn">
            <div class="container">
                <div class="row">
                    <div class="col-4 ">
                        <div class="d-flex">
                            <i class="fas fa-envelope-open-text mail mx-3"></i>
                            <div>
                                <span class="elemspan">Mail Us</span>
                                <p class="domain">info@domain.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 d-flex align-items-start justify-content-center et">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/logo.png">
                    </div>
                    <div class="col-4 is">
                        <div class="d-flex callus">
                            <i class="fas fa-phone-alt icon-volume"></i>
                            <div>
                                <p class="d-block pelement ">Call Us</p>
                                <p class="number">+1234-567-890</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <nav id="nav-bar">
            <div class="container">

                <div class="navpart">
                    <ul class="nav-bars">
                        <li class="dropdown">
                            <a class="first-a">HOME</a>
                            <ul class="dropdown-ul">
                                <li><a class="first-a" asp-controller="Home" asp-action="Index">Home One</a></li>
                                <li><a href=" ">Home Two</a></li>
                                <li><a href=" ">Home Three</a></li>
                                <li><a href=" ">Home Four</a></li>
                                <li><a href=" ">Home five</a></li>
                                <li><a href=" ">Home Instructor</a></li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            <a>ABOUT US</a>
                            <ul class="dropdown-ul">
                                <li><a asp-controller="About" asp-action="Index">About One</a></li>
                                <li><a href=" ">About Two</a></li>
                                <li><a href=" ">About Three</a></li>
                            </ul>

                        </li>
                        <li class="dropdown-mega">
                            <a>MEGA</a>
                            <div class="mega-menu">
                                <div class="inner-mega-menu">
                                    <p>About One</p>
                                    <p>About Two</p>
                                    <p>Blog</p>
                                    <p>Blog Details</p>
                                </div>
                                <div class="inner-mega-menu">
                                    <p>Teacher</p>
                                    <p>Teachers Without Filter</p>
                                    <p>Teachers Single</p>
                                    <p>Contact</p>
                                </div>
                                <div class="inner-mega-menu">
                                    <p>Gallery One</p>
                                    <p>Gallery Two</p>
                                    <p>Gallery Three</p>
                                    <p>Error 404</p>
                                </div>
                                <div class="inner-mega-menu">
                                    <p>Shop</p>
                                    <p>Shop Details</p>
                                    <p>Cart</p>
                                    <p>Checkout</p>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a>COURSES</a>
                            <ul class="dropdown-ul">
                                <li><a asp-controller="Course" asp-action="Index">Courses One</a></li>
                                <li><a href=" ">Courses Two</a></li>
                                <li><a href=" ">Courses Details</a></li>
                                <li><a href=" ">Courses Details 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>EVENTS</a>
                            <ul class="dropdown-ul">
                                <li><a href=" ">Events</a></li>
                                <li><a href=" ">Events details</a></li>
                                <li><a href=" ">Details</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>PAGES</a>
                            <ul class="dropdown-ul">
                                <li class="dropdown-change">
                                    <a href=" ">Teachers</a>
                                    <ul class="dropdown-ul-change">
                                        <li><a asp-controller="Teacher" asp-action="Index">Teachers</a></li>
                                        <li><a href=" ">Teachers Without Filter</a></li>
                                        <li><a href=" ">Teachers Single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-change">
                                    <a href=" ">Gallery</a>
                                    <ul class="dropdown-ul-change">
                                        <li><a href=" ">Gallery One</a></li>
                                        <li><a href=" ">Galler Two</a></li>
                                        <li><a href=" ">Gallery Three</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-change">
                                    <a href=" ">Shop</a>
                                    <ul class="dropdown-ul-change">
                                        <li><a asp-controller="Product" asp-action="Index">Shop</a></li>
                                        <li><a href=" ">Shop Details</a></li>
                                    </ul>
                                </li>
                                <li><a href=" ">Cart</a></li>
                                <li><a href=" ">Checkout</a></li>
                                <li><a href=" ">Error 404</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>BLOG</a>
                            <ul class="dropdown-ul">
                                <li><a href=" ">Blog</a></li>
                                <li><a href=" ">Blog Details</a></li>

                            </ul>
                        </li>
                        <li class="xs-padding"><a href="index.html">CONTACT</a></li>
                    </ul>
                    <div class="d-flex action-buttons">
                        <a href=" " class="searchbtn"><i class="fas fa-search "></i></a>
                        <a class="barsbtn"><i class="fas fa-bars "></i><span>MENU</span></a>


                    </div>
                </div>


            </div>

        </nav>
        <div class="bg1-modal">
            <div class="modal1-content">
                <div class="search">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="eg: Computer Technology" type="text">
                        </div>
                    </form>
                    <button type="button" class="close5" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times close-i"></i>
                    </button>
                </div>
            </div>
        </div>

        </nav>

        @await Component.InvokeAsync("Slider")

    </header>
    @RenderBody()
    <footer>
        <div class="container relative-div">
            <div class="row footer-contact">
                <div class="col-md-4">
                    <div class="contact-info">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>Address</h4>
                        <p>503 Old Buffalo Street</p>
                        <p>Northwest #205, New York-3087</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" bef-aft">

                        <i class="fas fa-phone-alt"></i>
                        <h4>Phone Number</h4>
                        <p>+3453-909-6565</p>
                        <p>+2390-875-2235</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" bef-aft">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>Email Address</h4>
                        <p>infoname@gmail.com</p>
                        <p>www.yourname.com</p>
                    </div>
                </div>
            </div>
        </div>
        <section id="mother-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="part-1">
                            <img src="http://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/logo-footer.png"
                                 alt="">
                            <p>
                                We create Premium Html Themes for more than three years. Our team goal is to reunite the
                                elegance of unique.
                            </p>
                            <p>We create Unique and Easy To Use Flexible Html Themes.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h5 class="col-title">RECENT POSTS</h5>
                        <div class="part-2">
                            <div class="team-work">
                                <div class="team-date">
                                    <span>28</span>
                                    <span>june</span>
                                </div>
                                <div class="team-about">
                                    <h5><a href=" ">While the lovely valley team work</a></h5>
                                    <span>Keyword Analysis</span>
                                </div>
                            </div>
                            <div class="team-work team-work1">
                                <div class="team-date">
                                    <span>28</span>
                                    <span>june</span>
                                </div>
                                <div class="team-about">
                                    <h5><a href=" ">I must explain to you how all this idea</a></h5>
                                    <span>Spoken English</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h5 class="sitemap">OUR SITEMAP</h5>
                        <ul class="sitemap-ul">
                            <li><i class="fas fa-angle-right"></i><a href="">Home</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">About</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Courses</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Courses Details</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Events</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Event Details</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Blog</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Blog Details</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Teachers</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Teachers Details</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Contact</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="">Eror 404</a></li>


                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h5 class="newsletter">NEWSLETTER</h5>
                        <p class="elem-p">Sign Up to Our Newsletter to Get Latest Updates & Services</p>
                        <form class="new-form">
                            <input type="text" placeholder="Enter Your Email">
                            <button><i class="fas fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="footer-icon">
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="footer-end">
            <div class="container text-center">
                <p>© 2018<a href="">RS Theme.</a>All Rights Reserved.</p>
            </div>
        </section>
    </footer>

    <div class="bg-modal">

        <div class="modal-content">
            <div class="container">
                <div class="close-btn"><i id="nav-close" class="fas fa-times"></i></div>
                <a href="index.html">
                    <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/logo-white.png">
                </a>
            </div>
            <div class="container">
                <div class="modal-write">
                    <div class="panel-group wrap" id="bs-collapse">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#one">
                                        Home
                                    </a>
                                </h4>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div id="one" class="panel-collapse collapse">
                                <ul class="modal-ul">
                                    <li><a href="#">Home One</a></li>
                                    <li><a href="#">Home Two</a></li>
                                    <li><a href="#">Home Three</a></li>
                                    <li><a href="#">Home Four</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#two">
                                        About Us
                                    </a>
                                </h4>
                                <i class="fas fa-chevron-down"></i>

                            </div>
                            <div id="two" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="modal-ul">
                                        <li><a href="#">About One</a></li>
                                        <li><a href="#">About Two</a></li>
                                        <li><a href="#">About Three</a></li>
                                        <li><a href="#">About Four</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#three">
                                        Pages
                                    </a>
                                </h4>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div id="three" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="modal-ul">
                                        <li><a href="#">Teacher</a></li>
                                        <li><a href="#">Teachers Without Filter</a></li>
                                        <li><a href="#">Teachers Single</a></li>
                                        <li><a href="#">Gallery One</a></li>
                                        <li><a href="#">Gallery Two</a></li>
                                        <li><a href="#">Gallery Three</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Shop Details</a></li>
                                        <li><a href="#">Cart</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Eror 404</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#four">
                                        Courses
                                    </a>
                                </h4>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div id="four" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="modal-ul">
                                        <li><a href="#">Courses One</a></li>
                                        <li><a href="#">Courses Two</a></li>
                                        <li><a href="#">Courses Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#five">
                                        Events
                                    </a>
                                </h4>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div id="five" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="modal-ul">
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Events Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#six">
                                        Blog
                                    </a>
                                </h4>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div id="six" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="modal-ul">
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Blog Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="">
                                        Contact
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="search-wrap">
                        <label class="screen-reader-text clas-label">Search for:</label>
                        <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                            <input class="input-cl" type="text" placeholder="Search.." name="search2">
                            <button class="button-cl"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/assets/js/fontawsome.js"></script>
    <script src="~/assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>


