body {
   
}

.container {
    max-width: 90%; 
    padding: 0 20px; 
    margin: 0 auto; 
}

.table-responsive {
    overflow-x: auto; 
    margin-top: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.table {
    width: 100%; 
    margin-bottom: 0; 
    background-color: transparent; 
}

    .table th, .table td {
        padding: 15px; /* Hücre içi boşluk */
        vertical-align: middle; /* İçeriği ortalar */
        border-top: none; /* Üst kenarlığı kaldırır */
        text-align: center; /* Metin ortalaması */
    }

    .table th {
        color: #343a40; /* Başlık metin rengi */
        font-weight: bold; /* Başlık metin kalınlığı */
        border-bottom: 2px solid #dee2e6; /* Başlık alt çizgisi */
    }

    .table td img.custom-image {
        width: 100px; /* Resim genişliği */
        height: auto; /* Resim yüksekliğini otomatik ayarlar */
        border-radius: 4px; /* Resim köşelerini yuvarlar */
    }

.btns {
    justify-content: center; /* Butonları ortalar */
}

.btn {
    padding: 8px 12px; /* Butonlar için boşluk */
    font-size: 14px; /* Buton yazı boyutu */
    border-radius: 4px; /* Buton köşe yuvarlama */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif buton gölgesi */
}

.btn-danger {
    background-color: #dc3545; /* Delete buton rengi */
}

.btn-warning {
    background-color: #ffc107; /* Edit buton rengi */
}

.btn-info {
    background-color: #17a2b8; /* Detail buton rengi */
}
.card-img-top {
    width: 100%;
    height: 250px; /* You can adjust the height based on your preference */
    object-fit: contain; /* Ensures the image covers the area without distortion */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card {
    height: 100%;
}

