* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

::-moz-selection {
  background-color: #ff3115;
}

::selection {
  background-color: #ff3115;
}

.apply {
    background-color: #111111;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-top: 10px;
  
}

.intro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.iconuni {
  display: inline-table;
  color: #ff3115;
  margin-right: 10px;
}

.element-p {
  color: white;
  font-size: 14px;
}

.intro a {
  color: #ff3115;
  text-decoration: none;
  font-size: 13px;
}

.icons {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  color: #888888;
  font-size: 14px;
}
.icons i {
  cursor: pointer;
}

.fb,
.tw,
.gg,
.link {
  transition: 0.5s;
  margin-right: 5px;
}
.fb:hover,
.tw:hover,
.gg:hover,
.link:hover {
  color: white;
}

.header-second {
  position: absolute;
  width: 100%;
  z-index: 4;
}
.header-second .sticky {
  background: #111111;
  position: fixed !important;
  top: 0px;
  z-index: 999;
  margin: 0 auto !important;
  padding: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  animation-duration: 0.5s;
  animation-name: sticky-animation;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.header-second .sticky.hidden {
  opacity: 0;
  transform: translateY(-100%);
}
.header-second .sticky.sticky {
  opacity: 1;
  transform: translateY(0);
}
.header-second .menu {
  padding: 30px 0;
}
.header-second .menu .nav-bars {
  display: flex;
  align-items: center;
  float: right;
}
.header-second .menu .nav-bars a {
  color: #fff !important;
  cursor: pointer;
  text-decoration: none;
}
.header-second .menu .nav-bars li {
  list-style: none;
  margin-left: 15px;
  margin-right: 20px;
}
.header-second .menu .nav-bars .second-a {
  color: #ff3115 !important;
}
.header-second .menu .dropdown {
  position: relative;
  padding: 10px 0;
}
.header-second .menu .dropdown:hover .dropdown-ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-second .menu .search i {
  color: #ff3115;
  cursor: pointer;
}
.header-second .menu .dropdown-ul {
  position: absolute;
  top: 43px;
  left: 0;
  width: 253px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(15px);
  z-index: 2;
}
.header-second .menu .dropdown-change {
  position: relative;
  padding: 0px 0;
}
.header-second .menu .dropdown-change:hover .dropdown-ul-change {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-second .menu .dropdown-ul-change {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 253px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(15px);
}
.header-second .menu .dropdown-mega {
  position: relative;
}
.header-second .menu .dropdown-mega:hover .dropdown-ul-mega {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-second .menu .dropdown-ul-mega {
  position: absolute;
  top: 17px;
  left: -162px;
  width: 1039px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(15px);
}
.header-second .menu .mega-menu {
  position: absolute;
  top: 33px;
  left: -174px;
  width: 1095px;
  background: #111111;
  height: 225px;
  padding: 40px;
  box-sizing: border-box;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(15px);
  z-index: 2;
}
.header-second .menu .dropdown-mega:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.header-second .menu .inner-mega-menu {
  width: 24%;
  float: left;
  margin-right: 1%;
}
.header-second .menu .inner-mega-menu:last-child {
  margin-right: 0%;
}
.header-second .menu .inner-mega-menu p {
  padding: 10px 0;
  transition: all 0.5s;
  cursor: pointer;
  color: #bbbbbb;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3137254902);
  font-size: 16px;
}
.header-second .menu .inner-mega-menu p:hover {
  color: #ff3115;
}
.header-second .menu .dropdown-ul a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 15px 10px;
  transition: all 0.5s;
}
.header-second .menu .dropdown-ul li {
  width: 100%;
  margin: 0;
}

.bg {
  width: 100%;
  z-index: 2;
  position: relative;
}
.bg .bg-about {
  z-index: 1;
  width: 100%;
  padding: 100px 0 35px;
  position: relative;
  background-size: cover;
  background-position: center top;
  background-image: url("./assets/images/about/bg3.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg .bg-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 28, 28, 0.7450980392);
  z-index: -1;
}
.bg .bg-about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.bg .bg-about .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bg .bg-about .container .page-title {
  margin: 80px 0 100px;
  font-size: 38px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.bg .bg-about .container ul {
  list-style: none;
  display: flex;
}
.bg .bg-about .container ul .second-li {
  color: #ff3115;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.bg .bg-about .container ul .active {
  position: relative;
  padding-right: 30px;
  transition: 0.3s;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.bg .bg-about .container ul .active::before {
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  height: 15px;
  width: 2px;
  position: absolute;
  right: 7px;
  top: 2px;
  transform: rotate(26deg);
}
.bg .bg-about .container ul .active::after {
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  height: 15px;
  width: 2px;
  position: absolute;
  right: 7px;
  top: 2px;
  transform: rotate(26deg);
}
.bg .bg-about .container ul .active:hover {
  color: #ff3115;
}

#product {
  padding: 100px 0;
}
#product .filters {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#product .filters h3 {
  color: #000;
  margin-bottom: 10px;
  font-size: 18px;
}
#product .filters .filter-brands .brand-list label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
#product .filters .filter-brands .brand-list label input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #eaeaea;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
#product .filters .filter-brands .brand-list label input[type=checkbox]:checked {
  background-color: #e9280f;
  border-color: #e9280f;
}
#product .filters .filter-brands .brand-list label input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
}
#product .filters .filter-brands .brand-list label input[type=checkbox]:hover {
  border-color: #e9280f;
}
#product .filters .filter-category, #product .filters .filter-price-range, #product .filters .filter-brands {
  margin-bottom: 20px;
}
#product .filters .filter-category select, #product .filters .filter-category input[type=range], #product .filters .filter-price-range select, #product .filters .filter-price-range input[type=range], #product .filters .filter-brands select, #product .filters .filter-brands input[type=range] {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
}
#product .filters .filter-category input[type=range], #product .filters .filter-price-range input[type=range], #product .filters .filter-brands input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 8px;
  background: #eaeaea;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}
#product .filters .filter-category input[type=range]::-webkit-slider-thumb, #product .filters .filter-price-range input[type=range]::-webkit-slider-thumb, #product .filters .filter-brands input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #e9280f;
  cursor: pointer;
  border-radius: 50%;
}
#product .filters .filter-category input[type=range]::-moz-range-thumb, #product .filters .filter-price-range input[type=range]::-moz-range-thumb, #product .filters .filter-brands input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #e9280f;
  cursor: pointer;
  border-radius: 50%;
}
#product .filters .filter-category input[type=range]::-ms-thumb, #product .filters .filter-price-range input[type=range]::-ms-thumb, #product .filters .filter-brands input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #e9280f;
  cursor: pointer;
  border-radius: 50%;
}
#product .filters .filter-category input[type=range]::-ms-track, #product .filters .filter-price-range input[type=range]::-ms-track, #product .filters .filter-brands input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  background: #eaeaea;
  border-color: transparent;
  color: transparent;
}
#product .filters .filter-category .price-values, #product .filters .filter-price-range .price-values, #product .filters .filter-brands .price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #666;
}
#product .filters .filter-category .price-values span, #product .filters .filter-price-range .price-values span, #product .filters .filter-brands .price-values span {
  font-size: 14px;
}
#product .filters .filter-category .brand-list, #product .filters .filter-price-range .brand-list, #product .filters .filter-brands .brand-list {
  display: flex;
  flex-direction: column;
}
#product .filters .filter-category .brand-list label, #product .filters .filter-price-range .brand-list label, #product .filters .filter-brands .brand-list label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}
#product .filters .filter-category .brand-list label input, #product .filters .filter-price-range .brand-list label input, #product .filters .filter-brands .brand-list label input {
  margin-right: 5px;
}
#product .sorted {
  margin-bottom: 20px;
}
    #product .search h3 {
        font-weight: 700;
        font-size: 20px;
        color: #212121;
        margin-bottom: 25px;
    }

    #product .search .search-container {
        display: flex;
        margin-bottom: 45px;
    }

        #product .search .search-container .search-input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ced4da;
            border-radius: 4px 0 0 4px;
            outline: none;
            transition: border-color 0.3s ease;
        }

            #product .search .search-container .search-input:focus {
                border-color: #ff3115;
            }

        #product .search .search-container .search-button {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ff3115;
            background-color: #ff3115;
            color: #fff;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            #product .search .search-container .search-button:hover {
                background-color: #e11b00;
            }
#product .sorted select {
  padding: 10px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
}
#product .products-carts {
  margin-top: 10px;
}
#product .products-carts .product-cart {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
#product .products-carts .product-cart .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  width: 270px;
  height: 270px;
}
    #product .products-carts .product-cart .image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
#product .products-carts .product-cart .image .cart-icon {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  transform: scaleY(0);
  transform-origin: 0 1 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 30px;
}
#product .products-carts .product-cart .image .cart-icon .icons {
  margin-top: 100px;
}
#product .products-carts .product-cart .image .cart-icon .icons li {
  display: inline-block;
}
#product .products-carts .product-cart .image .cart-icon .icons li a {
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  text-align: center;
  transition: all 0.3s ease;
}
#product .products-carts .product-cart .image .cart-icon .icons li a i {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  transition: all 0.3s ease;
}
#product .products-carts .product-cart .image .cart-icon .icons li a i:hover {
  color: #e41f05;
}
#product .products-carts .product-cart .image .cart-icon .icons li a:hover {
  border: 1px solid #ff3115;
}
#product .products-carts .product-cart .triangle {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-right: 140px solid #ff3115;
  border-bottom: 70px solid transparent;
  position: absolute;
  top: -75px;
  left: -117px;
  transform: rotate(48deg);
  opacity: 0;
}
#product .products-carts .product-cart h4 {
  margin: 0 0 14px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  color: #212121;
  text-align: center;
}
#product .products-carts .product-cart h4 a {
  color: #212121;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
}
#product .products-carts .product-cart .product-rating {
  text-align: center;
  margin-bottom: 10px;
}
#product .products-carts .product-cart .product-rating .stars {
  color: #ff6f61;
  font-size: 14px;
}
#product .products-carts .product-cart .product-rating .rating-count {
  color: #505050;
  font-size: 14px;
}
#product .products-carts .product-cart .cart-title {
  text-align: center;
  height: 85px;
}
#product .products-carts .product-cart .cart-title span {
  font-weight: 600;
  font-size: 15px;
  display: block;
  text-align: center;
  color: #505050;
}
    #product .products-carts .product-cart .cart-title .add-to-cart-btn {
        border: 1px solid #ff3115;
        padding: 9px 26px;
        color: #212121;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        margin-top: 15px;
        background: none;
        cursor: pointer;
        text-decoration: none;
    }
    #product .products-carts .product-cart .cart-title .cart-btn {
        border: 1px solid #ff3115;
        padding: 9px 26px;
        color: #212121;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        margin-top: 15px;
        background: none;
        cursor: pointer;
        text-decoration: none;
    }
#product .products-carts .product-cart .cart-title button:hover {
  transition: all 0.3s;
  background: #ff3115;
  color: #fff !important;
}
#product .products-carts .product-cart:hover {
  background-color: #f5f5f5;
}
#product .products-carts .product-cart:hover .triangle {
  opacity: 1;
}
#product .products-carts .product-cart:hover .image .cart-icon {
  transform: scaleY(1);
  opacity: 1;
}
    #product .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        #product .pagination a {
            margin: 0 5px;
            padding: 8px 16px;
            text-decoration: none;
            color: #000;
            border: 1px solid #ccc;
        }

            #product .pagination a.active {
                background-color: #dc3f2e;
                color: white;
            }

            #product .pagination a:hover {
                background-color: #f1f1f1;
                color: #000;
            }

            #product .pagination a.prev,
            #product .pagination a.next {
                font-weight: bold;
            }


#partner {
  padding: 120px 0;
}
#partner .owl-nav {
  display: none;
}

footer {
  background-image: url("../images/counter-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
footer .relative-div {
  position: relative;
}
footer .relative-div .footer-contact {
  background: #222;
  text-align: center;
  padding: 35px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: -100px auto 0;
  z-index: 111;
}
footer .relative-div .footer-contact .contact-info {
  position: relative;
}
footer .relative-div .footer-contact .contact-info i {
  font-size: 28px;
  margin-bottom: 12px;
  color: #ff3115;
}
footer .relative-div .footer-contact .contact-info h4 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
footer .relative-div .footer-contact .contact-info p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  font-size: 15px;
  margin: 10px 0;
}
footer .relative-div .footer-contact .bef-aft {
  position: relative;
  border-left: 1px solid white;
}
footer .relative-div .footer-contact .bef-aft::before {
  content: "";
  left: 3px;
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
footer .relative-div .footer-contact .bef-aft::after {
  content: "";
  left: -5px;
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
footer .relative-div .footer-contact .bef-aft i {
  font-size: 28px;
  margin-bottom: 12px;
  color: #ff3115;
}
footer .relative-div .footer-contact .bef-aft h4 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
footer .relative-div .footer-contact .bef-aft p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  font-size: 15px;
  margin: 10px 0;
}
footer #mother-footer {
  padding-top: 140px;
}
footer #mother-footer .part-1 img {
  margin-bottom: 25px;
}
footer #mother-footer .part-1 p {
  margin: 0 0 26px;
  color: #e8e8e8;
  line-height: 20px;
}
footer #mother-footer .col-title {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}
footer #mother-footer .col-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #ff3115;
}
footer #mother-footer .part-2 .team-work {
  display: flex;
}
footer #mother-footer .part-2 .team-work .team-date {
  width: 70px;
  height: 65px;
  flex: 0 0 70px;
  text-align: center;
  float: left;
  background-color: #ff3115;
  color: #ffffff;
  margin-right: 15px;
}
footer #mother-footer .part-2 .team-work .team-date span {
  display: block;
  margin-top: 10px;
}
footer #mother-footer .part-2 .team-work .team-about h5 {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 400;
  transition: all 0.3s;
}
footer #mother-footer .part-2 .team-work .team-about h5:hover {
  color: #e8e8e8;
}
footer #mother-footer .part-2 .team-work .team-about h5 a {
  color: white;
}
footer #mother-footer .part-2 .team-work .team-about span {
  font-size: 15px;
  color: #e8e8e8;
}
footer #mother-footer .part-2 .team-work1 {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid rgba(102, 102, 102, 0.5);
}
footer #mother-footer .sitemap {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}
footer #mother-footer .sitemap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #ff3115;
}
footer #mother-footer .sitemap-ul li {
  width: 50%;
  float: left;
  line-height: 33px;
}
footer #mother-footer .sitemap-ul li a {
  color: #e8e8e8;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}
footer #mother-footer .sitemap-ul li i {
  padding-right: 10px;
  color: #e8e8e8;
  transition: all 0.3s;
}
footer #mother-footer .sitemap-ul li:hover i,
footer #mother-footer .sitemap-ul li:hover a {
  color: #ff3115;
}
footer #mother-footer .newsletter {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}
footer #mother-footer .newsletter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #ff3115;
}
footer #mother-footer .elem-p {
  margin: 0 0 26px;
  color: #e8e8e8;
}
footer #mother-footer .new-form {
  position: relative;
}
footer #mother-footer .new-form input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ff3115;
  color: #ffffff;
  height: 50px;
  outline: 0 none;
  padding: 5px 15px;
  width: 100%;
}
footer #mother-footer .new-form button {
  background: #ff3115;
  border: none;
  color: #ffffff;
  font-size: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none !important;
}
footer #mother-footer .footer-icon {
  text-align: center;
  margin-top: 50px;
}
footer #mother-footer .footer-icon ul li {
  display: inline-block;
}
footer #mother-footer .footer-icon ul li a {
  font-size: 13px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
  background: rgba(255, 255, 255, 0.15);
}
footer #mother-footer .footer-icon ul li a:hover {
  background-color: #ff3115;
}
footer #footer-end {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 18px 0;
  margin-top: 35px;
}
footer #footer-end p {
  color: #f9f9f9;
}
footer #footer-end p a {
  color: #ff3115;
  transition: all 0.5s;
}
footer #footer-end p a:hover {
  color: #e41f05;
}/*# sourceMappingURL=shop.css.map */