@model HeaderVM

<header>
    <div class="apply">
        <div class="container">
            <div class="intro">
                <div class="d-flex ml-3 welcome-head">
                    <i class="fas fa-university iconuni"></i>
                    <p class="element-p">Welcome to Edulearn</p>
                </div>
                <div class="d-flex icons-head">
                    <div class="icons">
                        <i class="fab fa-facebook-f fb"></i>
                        <i class="fab fa-twitter tw"></i>
                        <i class="fab fa-google-plus-g gg"></i>
                        <i class="fab fa-linkedin-in link"></i>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <div class="header-second">
        <div class="menu ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12"><div class="logo-area"><img src="~/assets/images/@Model.Settings["Logo-Header"]" alt=""></div></div>
                    <div class="col-lg-9 col-md-12">
                        <div class="menu-area">
                            <ul class="nav-bars">
                                <li class="dropdown">
                                    <a class="first-a" asp-controller="Home" asp-action="Index">HOME</a>


                                </li>
                                <li class="dropdown">
                                    <a asp-controller="About" asp-action="Index">ABOUT US</a>

                                </li>
                                <li class="dropdown-mega">
                                    <a>MEGA</a>
                                    <div class="mega-menu">
                                        <div class="inner-mega-menu">
                                            <p>About</p>
                                            <p>Blog</p>

                                        </div>
                                        <div class="inner-mega-menu">
                                            <p>Teacher</p>
                                            <p>Contact</p>
                                        </div>

                                        <div class="inner-mega-menu">
                                            <p>Shop</p>
                                            <p>Shop Details</p>
                                            <p>Cart</p>
                                            <p>Checkout</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a asp-controller="Course" asp-action="Index">COURSES</a>

                                </li>

                                <li class="dropdown">
                                    <a>PAGES</a>
                                    <ul class="dropdown-ul">
                                        <li class="dropdown-change">
                                            <a href=" ">Teachers</a>
                                            <ul class="dropdown-ul-change">
                                                <li><a asp-controller="Teacher" asp-action="Index">Teachers</a></li>

                                            </ul>
                                        </li>

                                        <li class="dropdown-change">
                                            <a asp-controller="Product" asp-action="Index">Shop</a>

                                        </li>
                                        <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                                        <li><a href=" ">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a>BLOG</a>

                                </li>
                                <li class="xs-padding"><a asp-controller="Contact" asp-action="Index">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg " >
        <div class="bg-about" style="background-image: url('@Url.Content($"~/assets/images/{Model.Settings["Back-Image"]}")');height:400px">




           
        </div>
    </div>
</header>