@model ContentDetailVM
@{
    ViewData["Title"] = "Detail";
}
@section fontawesome {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<link href="~/admin/adminpanel.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container mt-5 w-100 ml-5">
    <div class="row mt-5">
       <h5>Detail Content:</h5>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">

                    <p class="card-text my-2"><b>Title:</b>  @Model.Title</p>
                        <p class="card-text my-2"><b>Description:</b>  @Model.Description</p>
                        
                        <div class="Icon mt-3">
                            <h6>Icon View:</h6>
                        <i class=" fa @Model.Icon mt-5" style="color: #7c0434; font-size:45px;"></i>
                        </div>

                    <div class="button-group">

                        <a class="btn btn-success" asp-action="Index">Back</a>
                    </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>