* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
}

::-moz-selection {
  background-color: #ff3115;
}

::selection {
  background-color: #ff3115;
}

.apply {
  background-color: #111111;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.intro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.iconuni {
  display: inline-table;
  color: #ff3115;
  margin-right: 10px;
}

.element-p {
  color: white;
  font-size: 14px;
}

.intro a {
  color: #ff3115;
  text-decoration: none;
  font-size: 13px;
}

.icons {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  color: #888888;
  font-size: 14px;
}
.icons i {
  cursor: pointer;
}

.fb,
.tw,
.gg,
.link {
  transition: 0.5s;
  margin-right: 5px;
}
.fb:hover,
.tw:hover,
.gg:hover,
.link:hover {
  color: white;
}

.header-second {
  position: absolute;
  width: 100%;
  z-index: 4;
}
.header-second .sticky {
  background: #111111;
  position: fixed !important;
  top: 0px;
  z-index: 999;
  margin: 0 auto !important;
  padding: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  animation-duration: 0.5s;
  animation-name: sticky-animation;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.header-second .sticky.hidden {
  opacity: 0;
  transform: translateY(-100%);
}
.header-second .sticky.sticky {
  opacity: 1;
  transform: translateY(0);
}
.header-second .menu {
  padding: 30px 0;
}
.header-second .menu .nav-bars {
  display: flex;
  align-items: center;
  float: right;
}
.header-second .menu .nav-bars a {
  color: #fff !important;
  cursor: pointer;
  text-decoration: none;
}
.header-second .menu .nav-bars li {
  list-style: none;
  margin-left: 15px;
  margin-right: 20px;
}
.header-second .menu .nav-bars .second-a {
  color: #ff3115 !important;
}
.header-second .menu .dropdown {
  position: relative;
  padding: 10px 0;
}
.header-second .menu .dropdown:hover .dropdown-ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-second .menu .search i {
  color: #ff3115;
  cursor: pointer;
}
.header-second .menu .dropdown-ul {
  position: absolute;
  top: 43px;
  left: 0;
  width: 253px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(15px);
  z-index: 2;
}
.header-second .menu .dropdown-change {
  position: relative;
  padding: 0px 0;
}
.header-second .menu .dropdown-change:hover .dropdown-ul-change {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-second .menu .dropdown-ul-change {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 253px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(15px);
}
.header-second .menu .dropdown-mega {
  position: relative;
}
.header-second .menu .dropdown-mega:hover .dropdown-ul-mega {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-second .menu .dropdown-ul-mega {
  position: absolute;
  top: 17px;
  left: -162px;
  width: 1039px;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(15px);
}
.header-second .menu .mega-menu {
  position: absolute;
  top: 33px;
  left: -174px;
  width: 1095px;
  background: #111111;
  height: 225px;
  padding: 40px;
  box-sizing: border-box;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(15px);
  z-index: 2;
}
.header-second .menu .dropdown-mega:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.header-second .menu .inner-mega-menu {
  width: 24%;
  float: left;
  margin-right: 1%;
}
.header-second .menu .inner-mega-menu:last-child {
  margin-right: 0%;
}
.header-second .menu .inner-mega-menu p {
  padding: 10px 0;
  transition: all 0.5s;
  cursor: pointer;
  color: #bbbbbb;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3137254902);
  font-size: 16px;
}
.header-second .menu .inner-mega-menu p:hover {
  color: #ff3115;
}
.header-second .menu .dropdown-ul a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 15px 10px;
  transition: all 0.5s;
}
.header-second .menu .dropdown-ul li {
  width: 100%;
  margin: 0;
}

.bg {
  width: 100%;
  z-index: 2;
  position: relative;
}
.bg .bg-about {
  z-index: 1;
  width: 100%;
  padding: 100px 0 35px;
  position: relative;
  background-size: cover;
  background-position: center top;
  background-image: url("./assets/images/about/bg3.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg .bg-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 28, 28, 0.7450980392);
  z-index: -1;
}
.bg .bg-about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.bg .bg-about .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bg .bg-about .container .page-title {
  margin: 80px 0 100px;
  font-size: 38px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.bg .bg-about .container ul {
  list-style: none;
  display: flex;
}
.bg .bg-about .container ul .second-li {
  color: #ff3115;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.bg .bg-about .container ul .active {
  position: relative;
  padding-right: 30px;
  transition: 0.3s;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.bg .bg-about .container ul .active::before {
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  height: 15px;
  width: 2px;
  position: absolute;
  right: 7px;
  top: 2px;
  transform: rotate(26deg);
}
.bg .bg-about .container ul .active::after {
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  height: 15px;
  width: 2px;
  position: absolute;
  right: 7px;
  top: 2px;
  transform: rotate(26deg);
}
.bg .bg-about .container ul .active:hover {
  color: #ff3115;
}

#course-detail {
  padding: 100px 0;
}
#course-detail .detail {
  position: relative;
}
#course-detail .detail .detail-img {
  overflow: hidden;
  transition: all 0.3s;
  margin-bottom: 40px;
}
#course-detail .detail .detail-img:hover {
  opacity: 0.9;
}
#course-detail .detail .detail-img .seats {
  position: absolute;
  bottom: 25px;
  right: -25px;
  font-size: 15px;
  width: 78px;
  height: 78px;
  line-height: 21px;
  border-radius: 50%;
  text-align: center;
  background-color: #ff3115;
  color: #fff;
  font-weight: 600;
  padding-top: 18px;
}
#course-detail .course-content {
  margin-top: 30px;
}
#course-detail .course-content h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 12px;
}
#course-detail .course-content .text p {
  margin-bottom: 18px;
  font-size: 16px;
  color: #505050;
  font-family: "Roboto Condensed", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
}
#course-detail .course-info .course-title {
  padding: 20px 25px 16px;
  background-color: #f9f9f9;
  position: relative;
}
#course-detail .course-info .course-title h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 700;
}
#course-detail .course-info .course-title h3 .red {
  color: #e41f05;
  margin-left: 5px;
}
#course-detail .course-info .course-title .course-contact {
  display: flex;
}
#course-detail .course-info .course-title .course-contact .teach-img {
  width: 100px;
  height: 100px;
}
#course-detail .course-info .course-title .course-contact .teach-img img {
  width: 100%;
  height: 100%;
}
#course-detail .course-info .course-title .course-contact .contact-info {
  padding-left: 18px;
}
#course-detail .course-info .course-title .course-contact .contact-info h3 {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0;
  color: #212121;
  margin: 0 0 5px;
  font-weight: 700;
}
#course-detail .course-info .course-title .course-contact .contact-info span {
  font-size: 14px;
  font-weight: 600;
  color: #505050;
  display: inline-block;
}
#course-detail .course-info .course-title .course-contact .contact-info .social-icon {
  margin-top: 15px;
}
#course-detail .course-info .course-title .course-contact .contact-info .social-icon a {
  color: #ff3115;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
  outline: none !important;
}
#course-detail .course-info .course-title .course-contact .contact-info .social-icon a i {
  font-size: 17px;
  margin-right: 6px;
}
#course-detail .course-info .course-title p {
  margin-top: 15px;
  font-size: 16px;
  color: #505050;
  font-family: "Roboto Condensed", sans-serif;
}
#course-detail .course-info .course-title .info-list ul li {
  color: #777777;
  margin-bottom: 14px;
}
#course-detail .course-info .course-title .info-list ul li span {
  color: #212121;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
}
#course-detail .course-info .course-title .apply-btn {
  position: absolute;
  right: 16px;
  bottom: 10px;
}
#course-detail .course-info .course-title .apply-btn a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  min-width: 147px;
  padding: 0 20px;
  background-color: #ff3115;
  color: #fff;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  text-decoration: none;
}
#course-detail .course-info .course-title .apply-btn a:hover {
  background-color: #e41f05;
}
#course-detail .course-accordion h3 {
  padding-bottom: 10px;
  font-size: 19px;
  margin-bottom: 12px;
  font-family: "Roboto Condensed", sans-serif;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 700;
}
#course-detail .course-accordion .accordion {
  list-style-type: none;
  border-bottom: none;
  margin: 0.5rem 0 1rem 0;
  padding-left: 0;
  width: 30%;
  width: 100%;
}
#course-detail .course-accordion .accordion-header {
  background-color: rgba(240, 240, 240, 0.8);
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  min-width: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
}
#course-detail .course-accordion .accordion-header:after {
  content: "+";
  float: right;
  font-size: 0.8rem;
}
#course-detail .course-accordion .accordion-header .active:after {
  transform: rotate(45deg);
}
#course-detail .course-accordion .accordion-header.active-header {
  color: #fff;
  background-color: #ff3115;
}
#course-detail .course-accordion .accordion-body {
  display: none;
  padding: 5px 15px 18px;
}
#course-detail .search h3 {
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  margin-bottom: 25px;
}
#course-detail .search .search-container {
  display: flex;
  margin-bottom: 45px;
}
#course-detail .search .search-container .search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  outline: none;
  transition: border-color 0.3s ease;
}
#course-detail .search .search-container .search-input:focus {
  border-color: #ff3115;
}
#course-detail .search .search-container .search-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ff3115;
  background-color: #ff3115;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#course-detail .search .search-container .search-button:hover {
  background-color: #e11b00;
}
#course-detail .categories {
  margin-bottom: 45px;
}
#course-detail .categories h3 {
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  margin-bottom: 25px;
}
#course-detail .categories .product-categorie li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
}
#course-detail .categories .product-categorie li .product-name a {
  color: #505050;
  padding: 0 0 0 5px;
  text-decoration: none;
  transition: all 0.3s;
}
#course-detail .categories .product-categorie li .product-name a i {
  margin-right: 5px;
}
#course-detail .categories .product-categorie li .product-name:hover a {
  color: #e41f05;
}
#course-detail .categories .product-categorie li .product-name:hover .count {
  color: #e41f05;
}
#course-detail .latest-courses {
  margin-bottom: 45px;
}
#course-detail .latest-courses h3 {
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  margin-bottom: 25px;
}
#course-detail .latest-courses .course-box {
  display: flex;
}
#course-detail .latest-courses .course-box .img-box {
  transition: all 0.3s;
}
#course-detail .latest-courses .course-box .img-box img {
  width: 130px;
  height: 103px;
}
#course-detail .latest-courses .course-box .img-box:hover {
  opacity: 0.8;
}
#course-detail .latest-courses .course-box .info-box {
  padding-left: 20px;
  float: left;
}
#course-detail .latest-courses .course-box .info-box h4 {
  font-family: "Roboto Condensed", sans-serif;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 700;
}
#course-detail .latest-courses .course-box .info-box h4 a {
  font-size: 16px;
  color: #212121;
  text-decoration: none;
}
#course-detail .latest-courses .course-box .info-box h4:hover a {
  color: #e41f05;
}
#course-detail .latest-courses .course-box .info-box .info {
  margin-top: -15px;
}
#course-detail .latest-courses .course-box .info-box .info .clock {
  font-weight: 600;
  color: #777777;
}
#course-detail .latest-courses .course-box .info-box .info .clock i {
  margin-right: 5px;
}
#course-detail .latest-courses .course-box .info-box .info .price {
  font-weight: 600;
  color: #777777;
  margin-left: 30px;
}
#course-detail .latest-courses .course-box .info-box .info .price span {
  color: #e41f05;
}
#course-detail .tags h3 {
  font-size: 20px;
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", sans-serif;
}
#course-detail .tags .boxes {
  display: flex;
}
#course-detail .tags .boxes .box {
  border: 1px solid #d7d7d7;
  padding: 5px 13px;
  margin: 0 6px 6px 0;
  display: block;
  color: #505050;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
  transition: all 0.3s;
  cursor: pointer;
}
#course-detail .tags .boxes .box:hover {
  background-color: #ff3115;
}
#course-detail .tags .boxes .box:hover span {
  color: white;
}

#courses {
  padding: 100px 0;
}
#courses .tab-courses-menu h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-left: 20px;
}
#courses .tab-courses-menu .line {
  width: 100px;
  height: 5px;
  background-color: #e41f05;
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 15px;
}
#courses .tab-courses-menu .team-box {
  margin-bottom: 35px;
}
#courses .tab-courses-menu .team-box ul li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}
#courses .tab-courses-menu .team-box ul li a {
  font-size: 15px;
  color: #505050;
  text-decoration: none;
  font-weight: 700;
}
#courses .tab-courses-menu .team-box ul li .active {
  color: #e41f05;
}
#courses .course-cards .card-box {
  top: 0;
  left: 0;
}
#courses .course-cards .card-box .course-card {
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  transition: all 0.35s ease 0s;
  cursor: pointer;
}
#courses .course-cards .card-box .course-card:hover {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
}
#courses .course-cards .card-box .course-card:hover .card-img::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
#courses .course-cards .card-box .course-card .card-img {
  position: relative;
  width: 350px;
}
#courses .course-cards .card-box .course-card .card-img::before {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
#courses .course-cards .card-box .course-card .card-img img {
  width: 100%;
  height: 100%;
}
#courses .course-cards .card-box .course-card .card-img .course-price {
  position: absolute;
  bottom: -30px;
  right: 22px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #ff3115;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
}
#courses .course-cards .card-box .course-card .card-img .course-info {
  position: absolute;
  width: 100%;
  bottom: 15px;
  padding: 0 20px;
}
#courses .course-cards .card-box .course-card .card-img .course-info h4 {
  font-family: "Roboto Condensed", sans-serif;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 3px;
}
#courses .course-cards .card-box .course-card .card-img .course-info h4 a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}
#courses .course-cards .card-box .course-card .card-img .course-info h4 a:hover {
  color: #e41f05;
}
#courses .course-cards .card-box .course-card .card-img .date-duration {
  display: flex;
}
#courses .course-cards .card-box .course-card .card-img .date-duration .date i {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
#courses .course-cards .card-box .course-card .card-img .date-duration .date span {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 5px;
}
#courses .course-cards .card-box .course-card .card-img .date-duration .duration {
  margin-left: 30px;
}
#courses .course-cards .card-box .course-card .card-img .date-duration .duration i {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
#courses .course-cards .card-box .course-card .card-img .date-duration .duration span {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 5px;
}
#courses .course-cards .card-box .course-card .card-title .title {
  padding: 20px;
}
#courses .course-cards .card-box .course-card .card-title .title h4 {
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 700;
}
#courses .course-cards .card-box .course-card .card-title .title h4 a {
  color: #212121;
  text-decoration: none;
  transition: all 0.3s;
}
#courses .course-cards .card-box .course-card .card-title .title h4 a:hover {
  color: rgba(33, 33, 33, 0.6);
}
#courses .course-cards .card-box .course-card .card-title .title p {
  font-size: 16px;
  color: #505050;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
#courses .course-cards .card-box .course-card .card-footer {
  padding: 26px 20px;
  background-color: #f0f0f0;
  color: #505050;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
}
#courses .course-cards .card-box .course-card .card-footer .seats-count span {
  font: normal normal normal/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-left: 10px;
}
#courses .course-cards .card-box .course-card .card-footer .apply-btn a {
  color: #505050;
  display: inline-block;
  position: relative;
  padding-right: 16px;
  text-decoration: none;
  transition: all 0.3s;
}
#courses .course-cards .card-box .course-card .card-footer .apply-btn a::after {
  font-family: fontAwesome;
  content: "\f101";
  position: absolute;
  right: 0;
}
#courses .course-cards .card-box .course-card .card-footer .apply-btn a:hover {
  color: #e41f05;
}

#what-people {
  background-color: #f9f9f9;
  padding: 100px 0;
}
#what-people .section-name {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#what-people .section-name h2 {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
}
#what-people .section-name p {
  margin-bottom: 0;
  font-size: 16px;
  margin: 0 0 26px;
  color: #212529;
}
#what-people .section-name .linediv {
  border: 2px solid #ff3115;
  width: 100px;
  display: inline-block;
  margin-top: 10px;
}
#what-people .item-header {
  position: relative;
}
#what-people .item-header .img-person {
  margin-bottom: -50px;
}
#what-people .item-header .img-person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
#what-people .item-header .item-person {
  padding: 35px;
  background-color: #ffffff;
}
#what-people .item-header .item-person .img-person {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}
#what-people .item-header .item-person .about-person {
  padding: 42px 0;
  position: relative;
}
#what-people .item-header .item-person .about-person .ff-left i {
  position: absolute;
  color: red;
  font-size: 26px;
  top: 0;
  left: 0;
}
#what-people .item-header .item-person .about-person h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 700;
}
#what-people .item-header .item-person .about-person p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  margin: 0 0 26px;
}
#what-people .item-header .item-person .about-person .ff-right i {
  position: absolute;
  color: red;
  font-size: 26px;
  right: 0;
}
#what-people .owl-dots button {
  outline: none;
}
#what-people .owl-dots button span {
  border-radius: 0;
  height: 5px;
  width: 17px;
  background-color: #ffffff;
  outline: none !important;
}
#what-people .owl-dots .active span {
  background-color: red;
}

#partner {
  padding: 120px 0;
}
#partner .owl-nav {
  display: none;
}

footer {
  background-image: url("../images/counter-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
footer .relative-div {
  position: relative;
}
footer .relative-div .footer-contact {
  background: #222;
  text-align: center;
  padding: 35px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: -100px auto 0;
  z-index: 111;
}
footer .relative-div .footer-contact .contact-info {
  position: relative;
}
footer .relative-div .footer-contact .contact-info i {
  font-size: 28px;
  margin-bottom: 12px;
  color: #ff3115;
}
footer .relative-div .footer-contact .contact-info h4 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
footer .relative-div .footer-contact .contact-info p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  font-size: 15px;
  margin: 10px 0;
}
footer .relative-div .footer-contact .bef-aft {
  position: relative;
  border-left: 1px solid white;
}
footer .relative-div .footer-contact .bef-aft::before {
  content: "";
  left: 3px;
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
footer .relative-div .footer-contact .bef-aft::after {
  content: "";
  left: -5px;
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
footer .relative-div .footer-contact .bef-aft i {
  font-size: 28px;
  margin-bottom: 12px;
  color: #ff3115;
}
footer .relative-div .footer-contact .bef-aft h4 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
footer .relative-div .footer-contact .bef-aft p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  font-size: 15px;
  margin: 10px 0;
}
footer #mother-footer {
  padding-top: 140px;
}
footer #mother-footer .part-1 img {
  margin-bottom: 25px;
}
footer #mother-footer .part-1 p {
  margin: 0 0 26px;
  color: #e8e8e8;
  line-height: 20px;
}
footer #mother-footer .col-title {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}
footer #mother-footer .col-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #ff3115;
}
footer #mother-footer .part-2 .team-work {
  display: flex;
}
footer #mother-footer .part-2 .team-work .team-date {
  width: 70px;
  height: 65px;
  flex: 0 0 70px;
  text-align: center;
  float: left;
  background-color: #ff3115;
  color: #ffffff;
  margin-right: 15px;
}
footer #mother-footer .part-2 .team-work .team-date span {
  display: block;
  margin-top: 10px;
}
footer #mother-footer .part-2 .team-work .team-about h5 {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 400;
  transition: all 0.3s;
}
footer #mother-footer .part-2 .team-work .team-about h5:hover {
  color: #e8e8e8;
}
footer #mother-footer .part-2 .team-work .team-about h5 a {
  color: white;
}
footer #mother-footer .part-2 .team-work .team-about span {
  font-size: 15px;
  color: #e8e8e8;
}
footer #mother-footer .part-2 .team-work1 {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid rgba(102, 102, 102, 0.5);
}
footer #mother-footer .sitemap {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}
footer #mother-footer .sitemap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #ff3115;
}
footer #mother-footer .sitemap-ul li {
  width: 50%;
  float: left;
  line-height: 33px;
}
footer #mother-footer .sitemap-ul li a {
  color: #e8e8e8;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}
footer #mother-footer .sitemap-ul li i {
  padding-right: 10px;
  color: #e8e8e8;
  transition: all 0.3s;
}
footer #mother-footer .sitemap-ul li:hover i,
footer #mother-footer .sitemap-ul li:hover a {
  color: #ff3115;
}
footer #mother-footer .newsletter {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-weight: 600;
}
footer #mother-footer .newsletter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #ff3115;
}
footer #mother-footer .elem-p {
  margin: 0 0 26px;
  color: #e8e8e8;
}
footer #mother-footer .new-form {
  position: relative;
}
footer #mother-footer .new-form input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ff3115;
  color: #ffffff;
  height: 50px;
  outline: 0 none;
  padding: 5px 15px;
  width: 100%;
}
footer #mother-footer .new-form button {
  background: #ff3115;
  border: none;
  color: #ffffff;
  font-size: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none !important;
}
footer #mother-footer .footer-icon {
  text-align: center;
  margin-top: 50px;
}
footer #mother-footer .footer-icon ul li {
  display: inline-block;
}
footer #mother-footer .footer-icon ul li a {
  font-size: 13px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
  background: rgba(255, 255, 255, 0.15);
}
footer #mother-footer .footer-icon ul li a:hover {
  background-color: #ff3115;
}
footer #footer-end {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 18px 0;
  margin-top: 35px;
}
footer #footer-end p {
  color: #f9f9f9;
}
footer #footer-end p a {
  color: #ff3115;
  transition: all 0.5s;
}
footer #footer-end p a:hover {
  color: #e41f05;
}/*# sourceMappingURL=coursedetail.css.map */